@media (min-width: 720px) and (min-height: 1024px){
	
	.adcreation_form_div{
		max-width: 30em !important;
		margin: auto !important;
	}
}

@media (orientation: landscape){
	
	.adcreation_form_div{
		max-width: 30em !important;
		margin: auto !important;
	}

}