.adhome_container{
	padding-left: 1em;
	padding-right: 1em;
}

.ad_home_impressions_div{
	background-color: #E1F6FF;
	height: auto;
	border-radius: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.ad_home_impressions_count{
	font-size: 2em;
	margin-bottom: -.5em;
}

.ad_home_impressions_text{
	font-size: 0.7em;
	font-weight: 100;
}

.ad_home_activeads_div{
	background-color: #FDF3F6;
	height: auto;
	border-radius: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: -1.5em;
}

.ad_home_activeads_count{
	font-size: 2em;
	margin-bottom: -.5em;
}

.ad_home_activeads_text{
	font-size: 0.7em;
	font-weight: 100;
}

.ad_home_bargraph{
	margin-top: 1em;
}

.ad_home_activeads_header{
	display: flex;
	justify-content: space-between;
}

.ad_home_activeads_header_text{
	font-size: 0.7em;
	color: var(--blueprimary);
	font-weight: 500;
	padding: 0.5em;
}


@media (min-width: 720px) and (min-height: 1024px) {
	.ad_home_container{
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	.home_business_name{
		font-size: 2em;
		margin: 0 !important;
		margin-top: .5em !important;
	}

	.home_info_div{
		display: block !important;
		margin-top: 3em !important;
	}

	.home_big_add_btn{
		display: block !important;
	}

	.ad_home_impressions_div{
		width: 10em;
		height: 7em;
		margin-top: 1em;
		overflow: auto;
		text-align: center;
		margin-left: 2em !important;
		margin-bottom: 2em !important;
	}

	.ad_home_activeads_div{
		width: 10em;
		height: 7em;
		margin-top: 1em;
		overflow: auto;
		text-align: center;
		margin-left: 2em !important;
		margin-bottom: 2em !important;
	}

	.ad_home_stat_container{
		display: none !important;
	}

	.ad_home_bargraph{
		width: 50em;
		margin-top: 2em;
	}

	.ad_home_stat_container2{
		display: block !important;
		margin-left: 2em !important;
		margin-bottom: 2em !important;
	}

	.home_add_btn{
		display: none !important;
	}

	.home_ad_list{
		grid-template-columns: auto auto auto !important;
	}

	.home_createbutton{
		display: flex !important;
	}
}

@media (orientation: landscape) {

	.ad_home_container{
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	.home_business_name{
		font-size: 2em;
		margin: 0 !important;
		margin-top: .5em !important;
	}

	.home_info_div{
		display: block !important;
		margin-top: 3em !important;
	}

	.home_big_add_btn{
		display: block !important;
	}

	.ad_home_impressions_div{
		width: 10em;
		height: 7em;
		margin-top: 1em;
		overflow: auto;
		text-align: center;
		margin-left: 2em !important;
		margin-bottom: 2em !important;
	}

	.ad_home_activeads_div{
		width: 10em;
		height: 7em;
		margin-top: 1em;
		overflow: auto;
		text-align: center;
		margin-left: 2em !important;
		margin-bottom: 2em !important;
	}

	.ad_home_stat_container{
		display: none !important;
	}

	.ad_home_bargraph{
		width: 50em;
		margin-top: 2em;
	}

	.ad_home_stat_container2{
		display: block !important;
		margin-left: 2em !important;
		margin-bottom: 2em !important;
	}

	.home_add_btn{
		display: none !important;
	}

	.home_ad_list{
		grid-template-columns: auto auto auto !important;
	}

	.home_createbutton{
		display: flex !important;
	}
}