@media (min-width: 720px) and (min-height: 1024px) {
	.proceed_subcontainer{
		max-width: 30em !important;
		margin: auto !important;
	}
}

@media (orientation: landscape) {
	.proceed_subcontainer{
		max-width: 30em !important;
		margin: auto !important;
	}
}