@media (min-width: 720px) and (min-height: 1024px) {

	.ad_card_img{
		width: 12em !important;
		height: 12em !important;
	}

}

@media (orientation: landscape) {
	.ad_card_img{
		width: 15em !important;
		height: 15em !important;
	}
}