@media (min-width: 720px) and (min-height: 1024px){

	.landing_hero{
		flex-direction: row !important;
		justify-content: space-around !important;
	}

	.landing_text{
		text-align: left !important;
	}

	.landing_cta_btn{
		text-align: left !important;
	}

	.landing_hero_img{
		margin: 0 !important;
	}

	.landing_invitation{
		flex-direction: row-reverse !important;
		justify-content: space-around !important;
	}

	.landing_coa{
		display: none
	}

	.landing_invitecards{
		display: none;
	}

	.landing_invitecards2{
		display: block !important;
	}

	.landing_usp_div{
		flex-direction: row !important;
		justify-content: space-around !important;
		margin-top: 5em;
		max-width: 100em;
		margin-left: auto;
		margin-right: auto;
	}

	.landing_people_img{
		display: block !important;
		padding-top: 1em;
	}

	.landing_usp_text-div{
		margin: 0!important;
	}

	.landing_currency_div{
		margin-top: 3em;
		justify-content: center !important;
		align-content: center !important;
	}

	.landing_currency_text_div{
		max-width: 30em;
		margin-left: auto !important;
		margin-right: auto !important;
		padding: 1em;
	}

	.landing_signin_btn{
		display: block !important;
	}

	.landing_promoter_hero{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-left: 10em;
		padding-right: 10em;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.landing_promoter_text{
		text-align: right !important;
		margin-top: -.5em;
	}

	.landing_promoter_btn{
		text-align: right !important;
		margin-top: -.3em;
	}

}

@media (orientation: landscape){
	.landing_hero{
		flex-direction: row !important;
		justify-content: space-around !important;
	}

	.landing_text{
		text-align: left !important;
	}

	.landing_cta_btn{
		text-align: left !important;
	}

	.landing_hero_img{
		margin: 0 !important;
	}

	.landing_invitation{
		flex-direction: row-reverse !important;
		justify-content: space-around !important;
	}

	.landing_coa{
		display: none
	}

	.landing_invitecards{
		display: none;
	}

	.landing_invitecards2{
		display: block !important;
	}

	.landing_usp_div{
		flex-direction: row !important;
		justify-content: space-around !important;
		margin-top: 5em;
		max-width: 100em;
		margin-left: auto;
		margin-right: auto;
	}

	.landing_people_img{
		display: block !important;
		padding-top: 1em;
	}

	.landing_usp_text-div{
		margin: 0!important;
	}

	.landing_currency_div{
		margin-top: 3em;
		justify-content: center !important;
		align-content: center !important;
	}

	.landing_currency_text_div{
		max-width: 30em;
		margin-left: auto !important;
		margin-right: auto !important;
		padding: 1em;
	}

	.landing_signin_btn{
		display: block !important;
	}

	.landing_promoter_hero{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-left: 10em;
		padding-right: 10em;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.landing_promoter_text{
		text-align: right !important;
		margin-top: -.5em;
	}

	.landing_promoter_btn{
		text-align: right !important;
		margin-top: -.3em;
	}
}